@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #32174d;
    display: grid;
    place-content: center;
}

.container {
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;

    background:linear-gradient(to bottom right, #111 12.5%, #434343 25%, #111 50%, #434343 75%, #111 100%);
}

.key {
    background-color: brown;
    color: #111;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 8px;
}

.key:nth-child(1) {
    background-color: #3cb371;
}
.key:nth-child(2) {
    background-color: #32cd32;
}
.key:nth-child(3) {
    background-color: #6495ed;
}
.key:nth-child(4) {
    background-color: #c7a900;
}
.key:nth-child(5) {
    background-color: #fd5800;
}
.key:nth-child(6) {
    background-color: #990606;
}
.key:nth-child(7) {
    background-color: #003366;
}
.key:nth-child(8) {
    background-color: #696969;
}
.key:nth-child(9) {
    background-color: #4b0082;
}

.stl-keys {
    box-shadow: inset 0px 0px 15px #111;
}


/* INFO */

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
header ul {
    display: flex;
    gap: 40px;
}
li a {
    font-size: 1.5rem;
    font-weight: bolder;

    color: aliceblue;
}