@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --cor-principal: #253455;
    --cor-bg-result: #1c2841;
}

body {
    background-color: var(--cor-bg-result);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: aliceblue;
    
}

.container {
    background-color: var(--cor-principal);
    padding: 15px 18px 0;
}

.container h2 {
    user-select: none;
    padding-bottom: 15px;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bg-result);
    padding: 3px;
}
.result-container span {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

button {
    padding: 3px;
    background-color: var(--cor-principal);
    border-style: none;
    user-select: none;
    cursor: pointer;
}

.clipboard img:hover {
    animation: rotate 2s ease-in-out;
    user-select: none;
}

@keyframes rotate {
    0%, 100% {transform: rotate(0deg);}
    30%, 60% {transform: rotate(360deg);}
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 15px;
    user-select: none;
}
.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* INFO */

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
header ul {
    display: flex;
    gap: 40px;
}
li a {
    font-size: 1.5rem;
    font-weight: bolder;

    color: aliceblue;
}