
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

.content_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_btn > button {
    font-size: 1.5rem;
    padding: 2px 10px 2px 10px;
    transition: background-color;
    transition-duration: 150ms;
}

button {
    border-style: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(44, 54, 148);
}

button:hover {
    cursor: pointer;
    background-color: rgb(56, 65, 150);
}

header {
    position: absolute;
    bottom: 0;
}

header ul {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 0 15px 0 0;
    background-color: rgb(83, 83, 83);
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: color;
    transition-duration: 250ms;
}

a:hover {
    color: rgb(44, 54, 148);
}

